html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title site1
    link(rel="stylesheet" href="css/vendors/bootstrap.css")
    link(rel="stylesheet" href="css/style.css")
  body
    .container-fluid
      .row
        section.header.clearfix
          .header--line1
            .header--logo.flex-center
              img(src="../assets/header/artsite_logo.png" alt="")
            .header--nav
              ul
                li
                  a(href="#")  მთავარი 
                li
                  a(href="#")  ჩვენს შესახებ 
                li
                  a(href="#")  გალერეა 
                li
                  a(href="#")  კონტაქტი 
            .header--contact.flex-center
              a.button(href="#") ტელ: +995 598 58 88 74
        section.slide1.text-center.clearfix
          .title.col-sm-12
            h1
              | სამხატვრო გალერეა
              br
              |  გამოფენა გაყიდვა
          .formbox
                .form.col-sm-6
                  .inner.rounded1
                    header
                        p მიიღე ფასდაკლება გალერეაში
                    body
                        form(action="" class="clearfix")
                          input(name="name" placeholder="სახელი" type="text")
                          input(name="email" placeholder="ელ.ფოსტა" type="text")
                          input.form--button__right(type="submit" value="გაგზავნა")
                .info-box.col-sm-6
                  .inner.rounded1.padding4
                    p
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab in ad, eos, dolor qui quasi neque illum praesentium impedit voluptatem earum repellendus alias maiores accusantium! Officiis animi eaque praesentium?
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab in ad, eos, dolor qui quasi neque illum praesentium impedit voluptatem earum repellendus alias maiores accusantium! Officiis animi eaque praesentium?
        section.slide2.about.clearfix
          .title.flex-center ჩვენს შესახებ
          .col-sm-4
            .person-box
              img(src="../assets/about/artsite_artist_1.png", alt="person1")
              p.title ირმა
              p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut necessitatibus ipsam, voluptatibus ea illo atque eos ipsa beatae natus, dolorum quas quae alias accusamus voluptatum repudiandae odio, vero maxime.
          .col-sm-4
            .person-box
              img(src="../assets/about/artsite_artist_3.png", alt="person2")
              p.title დათო
              p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut necessitatibus ipsam, voluptatibus ea illo atque eos ipsa beatae natus, dolorum quas quae alias accusamus voluptatum repudiandae odio, vero maxime.
          .col-sm-4
            .person-box
              img(src="../assets/about/artsite_artist_2.png", alt="person3")
              p.title ელენე
              p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut necessitatibus ipsam, voluptatibus ea illo atque eos ipsa beatae natus, dolorum quas quae alias accusamus voluptatum repudiandae odio, vero maxime.
        section.slide3.gallery.clearfix
          .title.flex-center გალერეა
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
          .col-sm-4
            .gallery-inner.bg1
            p.location TBILISI, GEORGIA
            span.span-price ფასი:
            p.price 20$
        section.slide4.contact.clearfix
          h1.title.flex-center კონტაქტი
          .row
            .col-sm-6
              .form.bg1.clearfix
                .col-xs-6.no-padding-left
                  .left-inputs
                    input(type="text" placeholder="სახელი")
                    input(type="text" placeholder="გვარი")
                    input(type="text" placeholder="ტელეფონი")
                    input(type="text" placeholder="ელ.ფოსტა")
                .col-xs-6.full-height.no-padding-right
                  .right-input
                    textarea.textarea
                input.button(type="submit", value="გაგზავნა")
            .col-sm-6
              .map.bg1
                img(src="../assets/about/რუკა.png" alt="")