.header{
    font-size: 1.6rem;
    background: $base-color;
    
    &--line1{

        width: $header--line1-width;
        margin: 0 auto;
        display: flex;
        // flex-flow: wrap;
        // padding: $header--padding 0;
;
    }

    &--logo{
        background: rgb(123, 129, 167);
    }

    &--nav{

        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    padding: $header--padding;
                    color:$white;
                    transition: all .2s ease-in-out;
                    &:hover{
                        color: darken($white, 5%);
                        background: darken($base-color,5%);
                    }
                }
            }
        }
    }

        
    &--contact{
    }
}


