.header{
    font-size: 1.6rem;
    background: $base-color;
    
    &--line1{
        display: flex;
        justify-content: space-between;
        width: $header--line1-width;
        margin: 0 auto;
    }

    &--logo{
        background: red;
    }

    &--nav{
        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    padding: 2rem;
                }
            }
        }
    }

        
    &--contact{
    }
}