$header--line1-width: 120rem;

$header--padding: 2rem;
$border-radius: 5px;


// colors
$base-color: hsla(203, 26%, 28%, 1);
$text-color: hsla(189, 18%, 53%, 1);
$white: white;
$button-color: #cfcfcf;
$text-yellow-color: #ffff99;
$text-titleblue-color: #0099ff;